@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* NAV STYLE STARTS HERE */

.top-nav {
	position: fixed;
	background-color: #fff;
	width: 100%;
	border-bottom: 1px solid #7f8c8d;
	top: 0;

}

.top-nav .links {
	list-style-type: none;
    float: right;
    font-size: 1.2em;
    margin-right: 10em;
    line-height: 50px;
}

.links li {
	display: inline;
	padding-right: 2.85em;
}

.logo {
	float: left;
	height: 4.5em;
	margin-left: 18em;
}

.top-nav a {
	text-decoration: none;
	color: #838994;
}

 .top-nav .links > .emphasis a {
	color: #223333;
}

.top-nav a:hover {
	color: black;
}

/* NAV STYLE ENDS HERE */

/* HEADER STYLE BEGINS HERE */

.intro {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 46em;
}

.content h1 {
	font-weight: 300;
	color: white;
	padding-top: 4em;
	text-align: center;
	font-size: 4em;
}

.content h3 {
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 2em;
	margin-top: -1em;
}

.buttons  {
	color: white;
	text-align: center;
	margin-top: 1.5em;
	height: 75px;
	width: 220px;
	background-color: chocolate;
	border: 1px solid chocolate;
	border-radius: 5px;
	margin: 0 auto 0 53.5em;
}

.buttons a {
	text-decoration: none;
	display: block;
	font-weight: 400;
	font-size: 1.4em;
	text-align: center;
	color: white;
}

.buttons:hover {
	background-color: #d35400;
}

/* HEADER STYLE ENDS HERE */

/* CASES STYLE BEGINS HERE */

.cases h1 {
	font-weight: 300;
	font-size: 3em;
	text-align: center;
	margin-top: 7.5em;
}

.devices li {
	list-style-type: none;
	display: inline-block;
	width: auto 0;
	margin-top: 3em;
	padding-left: 15em;
	text-align: center;
}

.caption { 
	text-align: center;
	font-size: 1.8em;
	font-weight: 400;
}

/* CASES STYLE ENDS HERE */

/* FOOTER STYLE BEGINS HERE */

.social {
	border-top: 1px solid #bdc3c7;
	margin-top: 7em;
}

.social h3 {
	text-align: center;
	font-weight: 400;
	font-size: 1.2em;
}

.icons li {
	list-style: none;
	border-radius: 50%;
	border: 1px solid #bdc3c7;
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	padding: 0.7em;
	margin: 1.25em 5px 0 0;
	text-align: center;
}

.twitter {
	color: #55acee;
}

.facebook {
	color: #4c66a4;
}

.instagram {
	color: #3f729b;
}

.copy {
	text-align: center;
	margin-top: 2em;
	color: #7f8c8d;
}

/* FOOTER STYLE ENDS HERE */